<div id="<%= dom_id person %>">
  <td><%= person.full_name %></td>
  <td><%= person.cns %></td>
  <td><%= person.email %></td>
  <td><%= person.birthday %></td>
  <td><%= person.phone %></td>
  <td><%= link_to "Show", person_url(person) %></td>
</div>