<div id="<%= dom_id person %>">
  <td><%= person.full_name %></td>
  <td><%= person.cpf %></td>
  <td><%= person.cns %></td>
  <td><%= person.email %></td>
  <td><%= person.birthday %></td>
  <td><%= person.phone %></td>
  <td><%= person.status.humanize %></td>
  <td><%= link_to "Show this person", person_path(person) %></td>
</div>