<div id="<%= dom_id person %>">
  <p>
    <strong>Full name:</strong>
    <%= person.full_name %>
  </p>

  <p>
    <strong>Cpf:</strong>
    <%= person.cpf %>
  </p>

  <p>
    <strong>Cns:</strong>
    <%= person.cns %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= person.email %>
  </p>

  <p>
    <strong>Birthday:</strong>
    <%= person.birthday %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= person.phone %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= person.status.humanize %>
  </p>
</div>