<div id="<%= dom_id county %>">
  <div style="margin-bottom: 10px;">
    <div style="padding: 5px">
      <strong>Id_IBGE:</strong>
      <%= county.id_ibge %>
    </div>

    <span style="padding: 5px">
      <strong>Name:</strong>
      <%= county.name %>
    </span>

    <span style="padding: 5px">
      <strong>State:</strong>
      <%= county.state %>
    </span>

    <span style="padding: 5px">
      <strong>Status:</strong>
      <%= county.status.humanize %>
    </span>
  </div>

  <div style="display: flex;">
    <span style="margin-right: 10px;">
      <%= link_to "Edit this county", edit_county_path(county) %>
    </span>
    <span style="margin-right: 10px;">
      <%= link_to "Back to counties", counties_path %>
    </span>
  </div>
</div>