<div id="<%= dom_id county %>">
  <p>
    <strong>Name:</strong>
    <%= county.name %>
  </p>

  <p>
    <strong>Id_IBGE:</strong>
    <%= county.id_ibge %>
  </p>

  <p>
    <strong>State:</strong>
    <%= county.state %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= county.status.humanize %>
  </p>

  <p>
    <strong>People count:</strong>
    <%= county.people.size %>
  </p>

  <p>
    <strong>People</strong>
    <%= link_to "New person", new_person_path %>
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>E-mail</th>
          <th>CNS</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <% @people.each do |person| %>
          <tr>
            <td><%= person.full_name %></td>
            <td><%= person.email %></td>
            <td><%= person.cns %></td>
            <td><%= link_to "Show person", person_url(person) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </p>
</div>