<p style="color: green"><%= notice %></p>

<%= render partial: "county", locals: { county: @county } %>

<div>
  <%= link_to "Edit this county", edit_county_path(@county) %>
  <%= link_to "Back to counties", counties_path %>

  <%= button_to "Destroy this county", county_path(@county), method: :delete %>
</div>